:root {
  --color-one: #1f2833;
  --color-two: #66FCf1;
  --color-three: #0b0c10;
  --color-four: #c5c6c7;
  --color-five: #45a29e;
  --animate-delay: 0.9s;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body {
  background-color: var(--color-four) !important;
}

#navbar2 {
  display: flex;
  background-color: var(--color-one); 
  min-height: 8vh;
  font-family: 'Acme', sans-serif;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.nav-links2{
  display: flex;
  justify-content: space-around;
  width: 30%;
  text-decoration: none;
  margin-left: 38vw;
  padding-top: 10px;
  padding-bottom: 10px
  
}

.nav-links2 li{
  list-style: none;
  float: right;
}

.nav-links2 a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-two);
  
}

.logo2 h4 a {
  font-size: 30px;
  text-decoration: none;
  margin: 10px;
  color: var(--color-two);
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 5px;
}

.logohead2 {
  float: left;
  margin-left: 13vw;
  display: flex;
  font-weight: bold
}



/* SVG CSS */

.nav-image {
  background-color: var(--color-one);
  padding-top: 100px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
 
}

.nav-image h1 {
 text-align: center;
 margin-top: 30px;
 font-family: 'Acme', sans-serif;
 font-size: 120px;
 font-weight: bold;
 --animate-delay: 0.9s;
 color: white;
}

.nav-image img {
  width: 200%;
  height: 50%;
  position: absolute;
  animation: wave linear 20s infinite;
  bottom: 0;
}

@keyframes wave {
  0% {
    transform: translate(-50%)
  }
  100% {
    transform: translate(0);
  }
}




